body, html{
    margin: 0;
    width:  100%;
    height: 100%;
}

body{
    display: inline-flex;
    margin: auto;
    align-items:center;
    justify-content:center;
}

#main{
    width: 100%;
    height: 100%;

    background-color: black;
    color: white;

    display: grid;
    justify-content: center;
    align-content: center;

    text-align: center;
}

#main-box{
    grid-column: 1 / 4;

    padding: 5% 0;
}

@font-face { font-family: JuneBug; src: url('JUNEBUG.TTF'); } 
#play-game-button {
    font-family: "JetBrains Mono NL";
    font-size: 20vh;
    color: white;
    text-decoration: none;
}